<template name="tree">
    {{#if displayTree}}
        <ul class="tree">
            {{#each treeroots}}
            <li>
                {{> branch}}
            </li>
            {{/each}}
        </ul>
    {{/if}}
</template>

<template name="branch">
    <label for="cb-{{element._id}}" class="{{color}}">
        <a href="/sections/{{element._id}}">{{element.name}}</a>
        <span class="badge">{{notes}}</span>
    </label>
    <ul>
        {{#each treenodes}}
        <li>
            {{> branch}}
        </li>
        {{/each}}
    </ul>
</template>