<template name="tree">
    <script language="JavaScript">
        function displayBranch(id) {
            var link = $('a[href$=' + id + ']');
            var ul = link.closest('ul');
            while (ul.length > 0 && ul.hasClass('tree') == false) {
                ul.removeClass('collapse');
                ul = ul.parent().closest('ul');
            }
        }
    </script>

    {{#if displayTree}}
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <ul class="tree">
            {{#each treeroots}}
            <li>
                {{> branch}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</template>

<template name="branch">
    <label for="cb-{{element._id}}" class="{{color}}">
        <a href="/sections/{{element._id}}">{{element.name}}</a>
        <span class="badge">{{notes}}</span>
    </label>
    <ul class="{{branch_class}}">
        {{#each treenodes}}
        <li>
            {{> branch}}
        </li>
        {{/each}}
    </ul>
</template>